.idea/
.gradle/
build/
obj/
*.iml
local.properties
*.keystore
gradle.properties


TMessagesProj/src/main/java/org/telegram/messenger/BuildVars.java
/TMessagesProj/.externalNativeBuild/
.DS_Store

TMessagesProj/src/main/assets/fonts/IRANSansDNBold.ttf
TMessagesProj/src/main/assets/fonts/IRANSansDNLight.ttf
TMessagesProj/src/main/assets/fonts/IRANSansDNRegular.ttf


